GCMC Run
temperature  293.000000
steps    32000000
equilibration    12000000
max guest atoms      3000
max framework atoms      15000
cutoff          12.500000 angstrom
delr            1.0 angstrom
ewald precision  1d-6
numguests 1000
history 0
# jobcontrol
&guest 1
  pressure (bar) 0.019991
  probability 2
  1  1
  2  2  3
&end
&guest 2
  pressure (bar) 0.079997
  probability 2
  1  0
  2  1  2
&end

grid factors 4 3 3

grid spacing 0.150000

finish
